{% import_yaml "mongodb/defaults.yaml" as defaults %}

{% set server = salt['grains.filter_by']({
    'Debian': {
        'version': 'stable',
        'repo_component': 'main',
        'pkgs': ['mongodb-org-server', 'mongodb-org', 'mongodb-org-tools', 'mongodb-org-shell']
    },
    'RedHat': {
        'version': 'stable',
        'pkgs': ['mongodb-org-server', 'mongodb-org', 'mongodb-org-tools', 'mongodb-org-shell']
    },
}, merge=defaults.mongodb.server) %}

{% set config = defaults.mongodb.config %}
